###> MISC ###
/composer.lock
/tests/.gitignore
###< MISC ###

###> symfony/framework-bundle ###
/symfony.lock
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> PHPStorm ####
.idea
###< PHPStorm ####

###> symfony/phpunit-bridge ###
.phpunit
###< symfony/phpunit-bridge ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
###< squizlabs/php_codesniffer ###
